.parent{
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
}

h2{
    text-align:  center;
    color: blue;
}
li{
    list-style: circle;
    color: black;
}
.card {
    margin-top: 3%;
    margin-left: 6%;
  }
.card-body {
    margin-left: 20px;
  }